<% if(typeof errors != 'undefined'){ %>
    <% errors.forEach(function (error) {%>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= error.message%>
            <button class="close" type="button" data-dismiss="alert" aria-lable="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% }) %> 
<% } %>  